<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 扫描注解，这样com.xjt包下的文件都能被扫描 -->
    <context:component-scan base-package="com.zx.jacksonzz"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!-- 配置返回视图的路径，以及识别后缀是jsp文件 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 2. 引入数据源配置 -->
    <context:property-placeholder location="classpath*:db.properties" />

    <!-- 数据源配置：c3p0 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 数据库驱动 -->
        <property name="driverClass" value="${jdbc.driver}" />
        <!-- 数据库连接串 -->
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}" />
        <!-- 数据库用户 -->
        <property name="user" value="${jdbc.user}" />
        <!-- 数据库密码 -->
        <property name="password" value="${jdbc.password}" />
        <!-- 最小连接数 -->
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <!-- 最大连接数 -->
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <!-- 最大空闲的时间，单位是秒，无用的链接再过时后会被回收 -->
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}" />
        <!-- 数据库连接池初始化时获取的连接数  -->
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}" />
        <!-- 在当前连接数耗尽的时候，一次获取的新的连接数 -->
        <property name="acquireIncrement" value="${jdbc.acquireIncrement}" />
        <!-- 每隔1800S检查数据库空闲连接 -->
        <property name="idleConnectionTestPeriod"
                  value="${jdbc.idleConnectionTestPeriod}" />
        <!-- 当数据库连接失败以后尝试 重新连接的次数 -->
        <property name="acquireRetryAttempts" value="${jdbc.acquireRetryAttempts}" />
    </bean>
    <!-- 3. 配置mybatis整合-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml">
        </property>
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置扫描mapper -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- 配置扫描器:将mybatis接口实现加入到ioc容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 扫描所有的dao接口的实现，加入到ioc容器中 -->
        <property name="basePackage" value="com.zx.jacksonzz.dao"/>
    </bean>

    <!-- 4. 事务控制 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>


</beans>


